:root {
    --very-dark-blue: hsl(240, 100%, 5%);
    --soft-red: hsl(5, 85%, 63%);
    --dark-yellow: hsl(35, 77%, 62%);
    --white: hsl(36, 100%, 99%);
    --grey: hsl(233, 8%, 79%);
    --dark-blue: hsl(236, 13%, 42%);
}

body {
    font-family: 'Inter', sans-serif;
}

hr {
    color: var(--white);
}

/* Nav */

.nav-link:hover,
.nav-link:focus {
    color: var(--soft-red);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Aside */

.aside-content {
    background-color: var(--very-dark-blue);
}

.aside-content h1,
.aside-content article:hover>a h2,
.aside-content article:focus>a h2 {
    color: var(--dark-yellow);
}

.aside-content article p {
    color: var(--grey);
    font-size: .9rem;
}

/* Main */

.btn-p:hover,
.btn-p:focus,
.btn-p {
    background-color: var(--soft-red);
}

.btn-p {
    letter-spacing: 4px;
}

.btn-p:hover,
.btn-p:focus {
    opacity: .8;
}

.main-header {
    font-size: 3em;
}

/* Cards */

.articale-num {
    opacity: .65;
}

.card-text,
.main-text,
.attribution a {
    color: var(--dark-blue);
}

.card-text,
.attribution a:hover,
.attribution a:focus {
    font-size: .9rem;
}

.card-title {
    color: black;
}

.card:hover .card-title,
.card:focus .card-title {
    color: var(--soft-red);
}

/* Mixed */

.card,
.aside-content article {
    cursor: pointer;
}

.aside-content article h2,
.btn-p,
.btn-p:hover,
.btn-p:focus {
    color: var(--white);
}

.aside-content article h2,
.card-title,
.nav-link {
    transition: color 350ms;
}

.btn-p,
.attribution a {
    transition: opacity 500ms;
}